In [ ]:
# import libraries
import pandas as pd

####**Extract**

**1. Enrollies' data**

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI/export?format=xlsx'

In [ ]:
enrollies_data = pd.read_excel(url)

In [ ]:
enrollies_data.head()

   enrollee_id      full_name      city gender
0         8949     Mike Jones  city_103   Male
1        29725    Laura Jones   city_40   Male
2        11561   David Miller   city_21    NaN
3        33241    Laura Davis  city_115    NaN
4          666  Alex Martinez  city_162   Male

In [ ]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  object
 2   city         19158 non-null  object
 3   gender       14650 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

**2. Enrollies' education**

In [ ]:
enrollies_edu = pd.read_excel('enrollies_education.xlsx')

In [ ]:
enrollies_edu.head()

   enrollee_id enrolled_university education_level major_discipline
0         8949       no_enrollment        Graduate             STEM
1        29725       no_enrollment        Graduate             STEM
2        11561    Full time course        Graduate             STEM
3        33241                 NaN        Graduate  Business Degree
4          666       no_enrollment         Masters             STEM

In [ ]:
enrollies_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

**3. Enrollies' working experience**

In [ ]:
enrollies_work = pd.read_csv('work_experience.csv')

In [ ]:
enrollies_work.head()

,enrollee_id,relevent_experience,experience,company_size,company_type,last_new_job
0,8949,Has relevent experience,>20,NaN,NaN,1
1,29725,No relevent experience,15,50-99,Pvt Ltd,>4
2,11561,No relevent experience,5,NaN,NaN,never
3,33241,No relevent experience,<1,NaN,Pvt Ltd,never
4,666,Has relevent experience,>20,50-99,Funded Startup,4

**4. Training hours**

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.9 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')

In [ ]:
training_hours = pd.read_sql_table('training_hours', con=engine)

In [ ]:
training_hours.head()

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

**5. City development index**

In [ ]:
web_table = pd.read_html('https://sca-programming-school.github.io/city_development_index/index.html')

In [ ]:
CDI = web_table[0]

In [ ]:
CDI.head()

       City  City Development Index
0  city_103                   0.920
1   city_40                   0.776
2   city_21                   0.624
3  city_115                   0.789
4  city_162                   0.767

**6. Employment**

In [ ]:
employment = pd.read_sql_table('employment', con=engine)

In [ ]:
employment.head()

   enrollee_id  employed
0            1       0.0
1            2       1.0
2            4       0.0
3            5       0.0
4            7       0.0

####**Transform**

**1. Enrollies' data**

In [ ]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  object
 2   city         19158 non-null  object
 3   gender       14650 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

In [ ]:
# convert data type
enrollies_data = enrollies_data.convert_dtypes()

In [ ]:
enrollies_data['gender'] = enrollies_data['gender'].fillna(enrollies_data['gender'].mode()[0])

In [ ]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  Int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       19158 non-null  string
dtypes: Int64(1), category(1), string(2)
memory usage: 491.6 KB

**2. Enrollies' education**

In [ ]:
enrollies_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

In [ ]:
enrollies_edu['education_level'].unique()

array(['Graduate', 'Masters', 'High School', nan, 'Phd', 'Primary School'],
      dtype=object)

In [ ]:
enrollies_edu['enrolled_university'].unique()

array(['no_enrollment', 'Full time course', nan, 'Part time course'],
      dtype=object)

In [ ]:
enrollies_edu['major_discipline'].unique()

array(['STEM', 'Business Degree', nan, 'Arts', 'Humanities', 'No Major',
       'Other'], dtype=object)

In [ ]:
enrollies_edu = enrollies_edu.convert_dtypes()

In [ ]:
# fill missing value
enroll_list = ['education_level', 'enrolled_university', 'major_discipline']
for i in enroll_list:
  enrollies_edu[i] = enrollies_edu[i].fillna(enrollies_edu[i].mode()[0])

In [ ]:
enrollies_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  Int64
 1   enrolled_university  19158 non-null  string
 2   education_level      19158 non-null  string
 3   major_discipline     19158 non-null  string
dtypes: Int64(1), string(3)
memory usage: 617.5 KB

**3. Enrollies' working experience**

In [ ]:
enrollies_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  object
 2   experience           19093 non-null  object
 3   company_size         13220 non-null  object
 4   company_type         13018 non-null  object
 5   last_new_job         18735 non-null  object
dtypes: int64(1), object(5)
memory usage: 898.2+ KB

In [ ]:
enrollies_work['experience'].unique()

array(['>20', '15', '5', '<1', '11', '13', '7', '17', '2', '16', '1', '4',
       '10', '14', '18', '19', '12', '3', '6', '9', '8', '20', nan],
      dtype=object)

In [ ]:
enrollies_work['company_size'].unique()

array([nan, '50-99', '<10', '10000+', '5000-9999', '1000-4999', '10/49',
       '100-500', '500-999'], dtype=object)

In [ ]:
enrollies_work['company_type'].unique()

array([nan, 'Pvt Ltd', 'Funded Startup', 'Early Stage Startup', 'Other',
       'Public Sector', 'NGO'], dtype=object)

In [ ]:
enrollies_work['last_new_job'].unique()

array(['1', '>4', 'never', '4', '3', '2', nan], dtype=object)

In [ ]:
enrollies_work = enrollies_work.convert_dtypes()

In [ ]:
# fill missing value
enrollies_work['company_size'] = enrollies_work['company_size'].fillna('Unknown')
enrollies_work['company_type'] = enrollies_work['company_type'].fillna('Unknown')
enrollies_work['experience'] = enrollies_work['experience'].fillna(enrollies_work['experience'].mode()[0])
enrollies_work['last_new_job'] = enrollies_work['last_new_job'].fillna(enrollies_work['last_new_job'].mode()[0])

In [ ]:
enrollies_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  Int64
 1   relevent_experience  19158 non-null  string
 2   experience           19158 non-null  string
 3   company_size         19158 non-null  string
 4   company_type         19158 non-null  string
 5   last_new_job         19158 non-null  string
dtypes: Int64(1), string(5)
memory usage: 916.9 KB

**4. Training hours**

In [ ]:
training_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   enrollee_id     19158 non-null  int64
 1   training_hours  19158 non-null  int64
dtypes: int64(2)
memory usage: 299.5 KB

**5. City development index**

In [ ]:
CDI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    object
 1   City Development Index  123 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

**6. Employment**

In [ ]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   employed     19158 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 299.5 KB

####**Load**

In [ ]:
# Path to SQLIte database
db_path = 'data_warehouse.db'

# Create an SQLAlchemy engine
warehouse_engine = create_engine(f'sqlite:///{db_path}')

In [ ]:
# Write DataFrames to database
enrollies_data.to_sql('enrollies_data', con=warehouse_engine, if_exists='replace', index=False)
enrollies_edu.to_sql('enrollies_edu', con=warehouse_engine, if_exists='replace', index=False)
enrollies_work.to_sql('enrollies_work', con=warehouse_engine, if_exists='replace', index=False)
training_hours.to_sql('training_hours', con=warehouse_engine, if_exists='replace', index=False)
CDI.to_sql('CDI', con=warehouse_engine, if_exists='replace', index=False)
employment.to_sql('employment', con=warehouse_engine, if_exists='replace', index=False)

19158